<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Large Text Summarizer</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    <h1 align="center">Text Summarizer</h1>
    <div>
        <textarea name="input_textarea" id="input_textarea"></textarea>
        <label id="size_label">What size of summary would you like?</label>
        <select id="size_selector">
            <option>Small</option>
            <option>Medium</option>
            <option>Large</option>
        </select>
        <button id="get_summary_button">Get Summary</button>
    </div>
    <div id="output_div">
        <h2>Summary:</h2>
        <p id="output_p">summary goes here</p>
    </div>
<footer>
    <p>Large Text Summarizer</p>
    <p>Created by Jack Swingle & Brandon Westbrook</p>
</footer>

</body>


</html>
<script src="../static/scripts/get_summary.js"></script>