<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Large Text Summarizer</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    <h1 align="center">Text Summarizer</h1>
    <div>
        <textarea name="input_textarea" id="input_textarea"></textarea>
        <button id="get_summary_button">Get Summary</button>
    </div>
    <div>
        <h2>Summary:</h2>
        <p id="output_p">summary goes here</p>
    </div>
</body>

</html>
<script src="../static/scripts/get_summary.js"></script>